<div class="colorlib-product" style="padding-top: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center colorlib-heading" style="margin-bottom: 30px;">
        <h2>Thêm Dịch Vụ</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <form
          id="add-product-form"
          style="max-width: 500px; margin: auto; border: 1px solid #ccc;"
          enctype="multipart/form-data"
        >
          <div class="form-group mx-4 mt-1">
            <label for="product-name" class="h5">Tên Dịch Vụ:</label>
            <input
              type="text"
              class="form-control"
              id="service-name"
              name="name"
              placeholder="Nhập tên dịch vụ"
            />
            <small id="servicename-error"></small>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group ml-4 mt-1">
                <label for="product-brand" class="h5">Giá Dịch Vụ:</label>
                <input
                  type="number"
                  class="form-control"
                  id="service_price"
                  name="price"
                  placeholder="Nhập giá"
                />
                <small id="service_price-error"></small>
              </div>
            </div>
            <div class="col">
              <div class="form-group mr-4 mt-1">
                <label for="product-price" class="h5">Duration:</label>
                <input
                  type="number"
                  class="form-control"
                  id="service_duration"
                  name="duration"
                  placeholder="Nhập thời gian"
                />
                <small id="service-error"></small>
              </div>
            </div>
          </div>
          <div class="form-group mx-4 mt-1">
            <label for="product-description" class="h5"
              >Miêu Tả Sản Phẩm:</label
            >
            <textarea
              class="form-control"
              id="service-description"
              name="description"
              placeholder="Nhập miêu tả dịch vụ"
            ></textarea>
            <small id="description-error"></small>
          </div>
          <div class="form-group mx-4 mt-1">
            <label for="service-category-name" class="h5">Chọn Thể Loại:</label>
            <select
              class="form-control"
              id="service-category-name"
              name="category"
            ></select>
            <small id="categoryname-error"></small>
          </div>
          <div class="col">
            <div class="form-group mx-2 mt-1">
              <label for="product-color" class="h5">Hình Ảnh:</label>
              <input
                type="file"
                class="form-control"
                id="service-file"
                name="file"
              />
              <small id="file-error"></small>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary" id="btn-add-service">
              Thêm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
